<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="row">
        <div class="col-md-6">
          <label class = "font-weight-style">Name</label>
        </div>
        <div class="col-md-6">
          <label>{{taskInfo['customerName']}}</label>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12">
      <div class="row">
        <div class="col-md-6">
          <label  class = "font-weight-style">Contact</label>
        </div>
        <div class="col-md-6">
          <label>{{taskInfo['contactNumber']}}</label>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12">
      <div class="row">
        <div class="col-md-6">
          <label  class = "font-weight-style">Email</label>
        </div>
        <div class="col-md-6">
          <label>{{taskInfo['customerEmail']}}</label>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12">
      <div class="row">
        <div class="col-md-6">
          <label  class = "font-weight-style">Address</label>
        </div>
        <div class="col-md-6">
          <label>{{dropAddress}}</label>
        </div>
      </div>
    </div>
  </div>
</div>
