<div>
  <vertical-timeline>
    <section class="cd-container" id="cd-timeline">
      <vertical-timeline-card [dateValue]="'jan 14 2019'" [timeString]="'12:18'">
        <h4>Offline</h4>
        <p class="m-0">Last moving time 00:00:00</p>
      </vertical-timeline-card>
      <vertical-timeline-card [dateValue]="'jan 24 2019'" [timeString]="'15:20'">
        <h4>Online</h4>
        <p class="m-0">Last moving time 00:00:00</p>
      </vertical-timeline-card>
      <vertical-timeline-card [dateValue]="'Feb 14 2019'" [timeString]="'5:30'">
        <h4 style = "margin-top:40px !important">Offline</h4>
        <p class="m-0">Last moving time 00:00:00</p>
      </vertical-timeline-card>
    </section>
  </vertical-timeline>
</div>
