<div>
<vertical-timeline>
  <section class="cd-container" id="cd-timeline">
    <vertical-timeline-card [dateValue]="'jan 14 2019'" [timeString]="'12:18'">
        <h4>Created</h4>
        <p class="m-0">Created For User Saurav</p>
    </vertical-timeline-card>
    <vertical-timeline-card [dateValue]="'jan 24 2019'" [timeString]="'15:20'">
        <h4>Assigned</h4>
        <p class="m-0">Created For User Saurav</p>
    </vertical-timeline-card>
    <vertical-timeline-card [dateValue]="'Feb 14 2019'" [timeString]="'5:30'">
        <h4 style = "margin-top:40px !important">Completed</h4>
        <p class="m-0">Created For User Saurav</p>
    </vertical-timeline-card>
  </section>
</vertical-timeline>
</div>
<!--<div *ngIf = "taskInfo">-->
<!--  -->
<!--</div>-->
