<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="row">
        <div class="col-md-6">
          <label class = "font-weight-style">Name</label>
        </div>
        <div class="col-md-6">
          <label>Saurav Upadhyay</label>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12">
      <div class="row">
        <div class="col-md-6">
          <label  class = "font-weight-style">Contact</label>
        </div>
        <div class="col-md-6">
          <label>8860528102</label>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12">
      <div class="row">
        <div class="col-md-6">
          <label  class = "font-weight-style">Last Location</label>
        </div>
        <div class="col-md-6">
          <label>H No N 70 A New Palam Vihar Phase 1 Gurgaon Phase 1</label>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12">
      <div class="row">
        <div class="col-md-6">
          <label  class = "font-weight-style">Device</label>
        </div>
        <div class="col-md-6">
          <label>Android</label>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12">
      <div class="row">
        <div class="col-md-6">
          <label  class = "font-weight-style">Battery</label>
        </div>
        <div class="col-md-6">
          <label>55%</label>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12">
      <div class="row">
        <div class="col-md-6">
          <label  class = "font-weight-style">Version</label>
        </div>
        <div class="col-md-6">
          <label>4.1.1.4</label>
        </div>
      </div>
    </div>
  </div>
</div>
