<div *ngFor="let driver of freeDriverList|filter:searchValueText" class="rides-holder cursor-pointer">
  <div class="card bg-white">
    <div class="ride-row" (click)="dialogService.driverDetailedInfo()">
      <div class="left-driver-list text-center">
        <div [style.background-color]="driver['driverColorCode']" class="name-abb">
          <span>{{customizerService.getDriverNameFirstLetter(driver['driverFirstName'])}}</span>
          <span class="status-dot"></span>
        </div>
      </div>
      <div class="middle-driver-list">
        <div class="driver-info-list">
          <span class="driver-name-list">{{driver['driverFirstName']}} {{driver['driverLastName']}}</span>
          <div class="shadow-info">Android</div>
        </div>
      </div>
<!--      <div class="far-right driver-task-top">-->
<!--        <div class="driver-task-count" placement="left" ngbTooltip="{{toolTipText}}">0</div>-->
<!--        <div class="shadow-info">Task</div>-->
<!--      </div>-->
    </div>
  </div>

</div>

<div class="no-result text-center" *ngIf="freeDriverList === undefined || freeDriverList.length === 0">
  <span>No driver available</span>
</div>
