<!-- Container-fluid starts-->
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="timer">
  <!--  <p style="color: white" > Loading... </p>-->
</ngx-spinner>
<h2 mat-dialog-title>Edit Driver</h2>
<mat-dialog-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <img class="driver-image-size rounded-circle"
                   [src]="this.driverInfo.driverProfileImageLink? profilePictureUrl:'/assets/images/user/user-new.png'" alt="#">
              <div class="picture">
                <button class="btn btn-pill btn-light btn-air-light" type="submit">
                  <input class="picture-upload cursor-pointer" type="file" (change)="uploadImage($event , 'profile')"/>
                  <app-feather-icons class="upload-button-padding" [icon]="'upload-cloud'"></app-feather-icons>
                  Upload Picture
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <form class="card" [formGroup]="editDriverFormGroup">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <mat-form-field class="full-width">
                  <mat-label>First name</mat-label>
                  <input  matInput formControlName="firstName" id="firstName">
                  <mat-error *ngIf="hasError('firstName', 'required')">First Name is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-6 col-md-6">
                <mat-form-field class="full-width">
                  <mat-label>Last name</mat-label>
                  <input  matInput formControlName="lastName" id="lastName">
                </mat-form-field>
              </div>
              <div class="col-md-6 col-md-6">
                <mat-form-field class="full-width">
                  <mat-label>Contact No.</mat-label>
                  <span matPrefix>+91 &nbsp;</span>
                  <input  matInput formControlName="contactNumber" id="contactNumber" appNumbersOnly>
                  <mat-error *ngIf="hasError('contactNumber', 'required')">Contact No is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6 col-md-6">
                <mat-form-field class="full-width">
                  <mat-label>Email</mat-label>
                  <input  matInput formControlName="email" id="email">
                  <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
                  <mat-error *ngIf="hasError('email', 'email')">Email must be a valid email address</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-12">
                <mat-form-field class="full-width">
                  <mat-label>Address</mat-label>
                  <textarea matInput placeholder="Ex. 100 Main St" formControlName="address" id="address"
                            #editDriverLocation></textarea>
                  <mat-error *ngIf="hasError('address', 'required')">Address is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-6 col-md-3">
                <mat-form-field class="full-width">
                  <mat-label>City</mat-label>
                  <input  matInput formControlName="city" id="city">
                  <mat-error *ngIf="hasError('city', 'required')">City is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-6 col-md-3">
                <mat-form-field class="full-width">
                  <mat-label>Postal Code</mat-label>
                  <input  matInput formControlName="postalCode" id="postalCode" appNumbersOnly>
                  <mat-error *ngIf="hasError('postalCode', 'required')">Postal Code is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class = "full-width">
                  <mat-label>Country</mat-label>
                  <mat-select formControlName="country">
                    <mat-option *ngFor="let country of countries" [value]="country.value">
                      {{country.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class = "full-width">
                  <mat-label>Status</mat-label>
                  <mat-select formControlName="status">
                    <mat-option *ngFor="let status of statusData" [value]="status">
                      {{status}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group cursor-pointer mb-0">
                      <label class="form-label">Valid ID Proof Front</label>
                      <img class="id-proof-picture-img responsive" [src]="this.driverInfo.driverIdLink?
                        validIdFrontImgUrl:'assets/images/big-lightgallry/013.jpg'"
                           (click)="openImageModalRowDescription(0)" alt="#"/>
                      <div class="picture">
                        <button class="btn btn-pill btn-light btn-air-light" type="submit">
                          <input class="picture-upload cursor-pointer" type="file"
                                 (change)="uploadImage($event , 'front')"/>
                          <app-feather-icons class="upload-button-padding" [icon]="'upload-cloud'"></app-feather-icons>
                          Upload Front Image
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group cursor-pointer mb-0">
                      <label class="form-label">Valid ID Proof Back</label>
                      <img class="id-proof-picture-img responsive"
                           [src]="this.driverInfo.driverIdBackLink? validIdBackImgUrl:'assets/images/big-lightgallry/013.jpg'"
                           (click)="openImageModalRowDescription(1)" alt="#"/>
                      <div class="picture">
                        <button class="btn btn-pill btn-light btn-air-light" type="submit">
                          <input class="picture-upload cursor-pointer" type="file"
                                 (change)="uploadImage($event , 'back')"/>
                          <app-feather-icons class="upload-button-padding" [icon]="'upload-cloud'"></app-feather-icons>
                          Upload Back Image
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>

        <ks-modal-gallery [id]="1" [modalImages]="imagesRect"
                          [plainGalleryConfig]="customPlainGalleryRowDescConfig"
                          [currentImageConfig]="{downloadable: true}"
                          [buttonsConfig]="buttonsConfigCustom" (buttonBeforeHook)="onButtonBeforeHook($event)"
                          (buttonAfterHook)="onButtonAfterHook($event)">
        </ks-modal-gallery>
      </div>
    </div>


  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button mat-raised-button color="primary" cdkFocusInitial
          (click)="updateDriver()" [disabled]="!editDriverFormGroup.valid">Update</button>
</mat-dialog-actions>
<!-- Container-fluid Ends-->
