<div *ngFor="let task of assignedTaskInfo| filter:searchValueText" class="rides-holder cursor-pointer">
  <div class="card bg-white">
    <div class="ride-row ride-row-min-height" (click)="dialogService.taskDetailedInfo(task)">
      <div class="left text-center">
        <div [style.background-color]="task['colorCode']" class="name-abb">
          <span>{{customizerService.getDriverNameFirstLetter(task['customerName'])}}</span>
        </div>
        <span class="img-text">{{task['customerName']}}</span>
      </div>
      <div class="middle">
        <div class="timeline-small">
          <div class="media">
            <div class="timeline-round m-r-15 timeline-line-1 bg-primary time-line-dot">
            </div>
            <div class="media-body">
              <h6 class="time-line-heading">{{getTime(task['deliveryDate'])}}</h6>
              <h6 class="time-line-heading">{{task['customerName']}}</h6>
              <div class="timeline-address">
                <span class="time-line-address-span">{{task['dropAddress']}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="far-right">
        <span class="badge badge-warning badge-warning-text">{{task['taskStatus']}}</span>
      </div>
    </div>

  </div>
</div>

<div class="no-result text-center" *ngIf="assignedTaskInfo === undefined || assignedTaskInfo.length === 0">
  <span>No task available for the day</span>
</div>

